
#news {
  align-items: center;
  margin: 5% auto;
  background-color: rgba(#FE00B5, 0.1);
  height: 40%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  padding: 3%;
  
}

.news {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

h3 {
  font-size: .8em;
  width: 50%;
}

img {
  width: 50%;
  
}

p {
  display: flex;  
  justify-content: center;
  box-align: center;
  font-size: .7em;
  margin-top: 5%
}

