

#news {
  align-items: center;
  margin: auto;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e570e7+0,c647c4+43,a849a3+83&0.51+3,0.91+89 */
background: -moz-linear-gradient(-45deg, rgba(229,112,231,0.51) 0%, rgba(227,109,229,0.51) 3%, rgba(198,71,196,0.7) 43%, rgba(168,73,163,0.88) 83%, rgba(168,73,163,0.91) 89%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(229,112,231,0.51) 0%,rgba(227,109,229,0.51) 3%,rgba(198,71,196,0.7) 43%,rgba(168,73,163,0.88) 83%,rgba(168,73,163,0.91) 89%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(229,112,231,0.51) 0%,rgba(227,109,229,0.51) 3%,rgba(198,71,196,0.7) 43%,rgba(168,73,163,0.88) 83%,rgba(168,73,163,0.91) 89%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82e570e7', endColorstr='#e8a849a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  
  /*  #FFC0A6; */
  
}

h3 {
  font-size: .8em;
}

p {
  font-size: .5em;
}

img {
  width: 20%;
}
