@import 'reset';
@import 'src/styles/vars';
@font-face {
  font-family: "Japan", ;
  src: url(../polices/Japan.ttf);
} 

body {
  font-family: 'Kalam', cursive;
  background-image: url(../img/Sakura-B.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  min-width: 480px;
  max-width: 100vw;

}

/** RESPONSIVE **/
@media screen and (max-width: 640px){
  body {
    flex-direction: column;
 }


}





