@import 'reset';
@import 'src/styles/vars';
@font-face {
  font-family: "Japan", ;
  src: url(../polices/Japan.ttf);
} 

body {
  font-family: 'Kalam', cursive;
  background-size: cover;
  display: flex;
  flex-direction: column;
}




