#map {
  height: 30rem;
}
#sakura-map {
  display: block;
  margin: 0 auto;
  width: 40rem;
  height: 29.9rem;
}

#map__load__button,
#map__info {
  display: block;
  margin: 2rem auto;
}

#map__info {
  width: 14.5rem;
}

#map__load__button {
  width: 8rem;
}
