#news__block {
  display: flex;
  flex-direction: column;
  font-family: 'montserrat';

}

.news {
  display: flex;
  margin: 2rem auto;
  background-color: rgba(rgb(163, 150, 150), 0.5);
  height: 18rem;
  width: 40rem;
  padding: 2em;
  max-width: 800px;
  overflow: hidden;

}


.news__image {
  width: 100px;
  height: 200px;
}

.news__text {
  width: 70%;
  margin-left: 40px;
}

.news__title {
  margin-top: 1em;
  
}

.news__date {
  display: block;
  text-align: right;
  font-weight: 400;
}

.news__description {
  font-size: .9em;
  margin-top: 30px;
  line-height: 1.1rem;
  font-weight: 400;
  
}

@media screen and (max-width: 640px) {
  .news {
    display: flex;
    flex-direction: column;
  }

  .news__image {
    width: 80%;
    min-width: 100px;
    margin: 0 auto 6%;
  }
}

