@import 'src/styles/vars';

#app { 
  height: 100%;
  width: 100%;
  font-size: 2em;
  text-align: center;
  font-weight: 700;
}

#nav {
  display: flex;
  
}

#news {
  border: 2px black solid;
  width: 500px;
  justify-content: center;
}
