@import 'src/styles/vars';

#app { 
  width: 1600px;
  height: 950px;
  margin: 3em auto;
  border: 5px double #ccc;
  font-size: 2em;
  text-align: center;
  padding: 1em;
  font-weight: 700;
  background-image: url(../../img/Sakura-B.png);
  background-size: cover;
}

#nav {
  display: flex;
  
}

#news {
  border: 2px black solid;
  width: 500px;
  justify-content: center;
}
