#head {
  display: flex;
  justify-content: space-between;
}

#toggle {
  width: 125px;
  height: 20px;
  background-color: rgba(#FE00B5, 0.1);
}



#logo {
  height: 150px;
  width: 200px;
}


#connect button {
  background-color: rgba(#FE00B5, 0.1);
  margin-right: 10px;

}

#nav-links-list {
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.nav-link {
  display: inline-block;
  width: 200px;
  height: 100px;
  padding: 1em;
  margin: 0 60px;
  text-align: center;
  font-size: 1em;
  color: #000;
  border: 1px black solid;
  border-radius: 50%;
  background-color: rgba(#FE00B5, 0.1);

}


#nav {
  display: flex;
  flex-direction : row;
  justify-content: center;
  margin-top: 3%;
  
}

/* li {

} */

/* #nav {
  justify-content: space-around;
  display: flex;
  margin-bottom: 4%;
} */
