#header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;   
}



#logo {
background-image: url(../../img/logothib2.png);
background-size: cover;
}


#connect {

}

a {
  font-size: .6em;
  padding-left: 12px;
  color: blue;
}

#nav {

}
