RewriteEngine on
RewriteCond %{REQUEST_URI} !^wp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1


<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /Apotheose/Project/sakura-cafe/Back-end/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /Apotheose/Project/sakura-cafe/Back-end/index.php [L]
</IfModule>