
#up__arrow {
  background-image: url('../../assets/img/up_button.png');
  background-repeat: no-repeat;
  background-size: cover;
}
#down__arrow {
  background-image: url('../../assets/img/down_button.png');
  background-repeat: no-repeat;
  background-size: cover;
}
main > div {
  margin: 0 auto;
  width: 80%;
  height: 60%;
}

