#up_arrow {
  background-image: url('../../img/up_button.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
}
#down_arrow {
  background-image: url('../../img/down_button.png');
  background-repeat: no-repeat;
  background-size: cover;
  display:block; 
  margin: auto; 
}

main {
  height: 100%;
}
