#sign__up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 1rem;
  width: 25rem;
}

.signup__label,
#register__button {
  margin: 2rem 0 1rem;
}


.signup__label {
  display: block;
  width: 350px;
  text-align: left;
  line-height: 1rem;
}

.signup__input {
  
  display: block;
  line-height: 1rem;
  padding: 0.3rem;
  width: 25rem;
  background-color: rgba($color: #ffffff, $alpha: 0.5)

}

#register__button {
  display: block;
  line-height: 18px;
  font-weight: bold;
  width: 80px;
}

#register__button.not--visible {
  visibility: hidden;
  width: 0rem;
  height: 0rem;
}

/** Validation spans **/

.success {
font-size: .8rem;
font-weight: 500;
color: green;

}

.failed {
font-size: .8rem;
font-weight: 500;
color: red;
}
