#header {
  display: flex;
  flex-direction: column;
}

#head {
  display: flex;
  justify-content: space-between;
}


#toggle {
  width: 125px;
  height: 20px;
  background-color: rgba(rgba(224, 0, 254, 0.281), 0.5);
}



#logo {
  height: 100px;
  width: 150px;
}


#connect button {
  background-color: rgba(#FE00B5, 0.1);
  margin-right: 10px;
}

#nav-links-list {
  display: flex;
  justify-content: space-around;
  height: 25px;
  margin: 30px 0;
}

.nav-link {
  display: inline-block;
  height: 80px;
  text-align: center;
  color: #000;
  margin-left: -35px;
  /*  border: 1px black solid;
  border-radius: 50%; */
  /* background-color: rgba(rgb(255, 141, 255), 0.5); */
  background-size: contain;
}

/* li {

} */
