

/* Categories navbar */

#nav__block__product {
  display: flex;
}

#product__block {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 3.2rem;
}

#category__selection {
  display: flex;
  flex-direction: column;
}

#product__selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* articles */






/** RESPONSIVE **/
@media screen and (max-width: 640px){
  #nav__block__product {
    flex-direction: column;
    width: 100%;
    align-items: center
  }

  #list {
    width: 100%;
    flex-direction: row;
    height: 50px;

  }
}

